* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f3e9;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left {
    flex: 1;
    background-color: #f8f3e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

.right {
    flex: 1;
    background-color: #d9a5a1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    padding: 20px;
}

.right h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.right h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.login-btn {
    background-color: #f8e4d4;
    color: #000;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.login-btn span {
    margin-left: 10px;
}

.login-btn:hover {
    background-color: #f8c3a1;
}
