/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

/* Contenedor principal */
.container {
    display: flex;
    height: 100vh;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background-color: #d8938f;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.logo-small {
    width: 80%;
    margin-bottom: 20px;
}

.user-info {
    text-align: center;
    margin-bottom: 20px;
}

.user-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #a67c7c;
    margin-bottom: 10px;
}

.user-info h2 {
    margin: 0;
}

.menu {
    flex-grow: 1;
}

.menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.menu li {
    margin-bottom: 15px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.logout {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

/* Contenido principal */
.main-content {
    flex-grow: 1;
    background-color: #f6eadf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 48px;
    color: #333333;
}
